################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pokedex/Pokedex/bin/Debug/net5.0
/Pokedex/Pokedex.Test/bin/Debug/net5.0
/Pokedex/Pokedex.Test/obj
/Pokedex/Pokedex/obj
